@model Umbraco.Course.Models.SearchModel

<p>You searched for <strong>@Model.Query</strong></p>

<!-- check for search results-->

<!-- search results feedback -->
<div id="stream">
    <!-- show any search results here -->
</div>