<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT fragments ANY>
<!ATTLIST fragments id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT pages ANY>
<!ATTLIST pages id ID #REQUIRED>
<!ELEMENT statusUpdate ANY>
<!ATTLIST statusUpdate id ID #REQUIRED>
<!ELEMENT stream ANY>
<!ATTLIST stream id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1055" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-03-23T14:38:19" updateDate="2014-03-23T14:43:37" nodeName="Home" urlName="home" path="-1,1055" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="homePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <bodyText><![CDATA[<p>Hello And welcome to the Umbraco course</p>]]></bodyText>
    <siteName><![CDATA[Umbraco Level 2]]></siteName>
    <stream id="1059" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2014-03-23T14:51:04" updateDate="2014-03-23T16:00:33" nodeName="Stream" urlName="stream" path="-1,1055,1059" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="1064" nodeTypeAlias="stream">
      <umbracoNaviHide>0</umbracoNaviHide>
      <statusUpdate id="1060" parentID="1059" level="3" creatorID="0" sortOrder="0" createDate="2014-03-23T14:51:20" updateDate="2014-07-14T01:29:39" nodeName="Monique Pool first fell in love" urlName="monique-pool-first-fell-in-love" path="-1,1055,1059,1060" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="statusUpdate">
        <bodyText><![CDATA[<p><span>Monique Pool first fell in love with sloths when she took in an orphan from a rescue centre. Since then many sloths have spent time in her home on their way back to the forest - but even she found it hard to cope when she had to rescue 200 at once.</span></p>]]></bodyText>
      </statusUpdate>
      <statusUpdate id="1061" parentID="1059" level="3" creatorID="0" sortOrder="1" createDate="2014-03-23T15:38:30" updateDate="2014-07-14T01:29:33" nodeName="Denmark consumes the most apples" urlName="denmark-consumes-the-most-apples" path="-1,1055,1059,1061" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="statusUpdate">
        <bodyText><![CDATA[<p>Denmark consumes the most apples per head while Morocco has the highest orange, tangerine and mandarin consumption.</p>]]></bodyText>
      </statusUpdate>
      <statusUpdate id="1062" parentID="1059" level="3" creatorID="0" sortOrder="2" createDate="2014-03-23T15:46:05" updateDate="2014-07-14T01:29:26" nodeName="The Inuit language" urlName="the-inuit-language" path="-1,1055,1059,1062" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="statusUpdate">
        <bodyText><![CDATA[<p>The Inuit language doesn't have a word for freedom - the closest is "annakpok" which means "not caught".</p>]]></bodyText>
      </statusUpdate>
      <statusUpdate id="1070" parentID="1059" level="3" creatorID="0" sortOrder="4" createDate="2014-03-25T10:26:04" updateDate="2014-07-14T01:29:16" nodeName="Hello wolf" urlName="hello-wolf" path="-1,1055,1059,1070" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="statusUpdate">
        <bodyText><![CDATA[<p>Hello wolf</p>]]></bodyText>
      </statusUpdate>
      <statusUpdate id="1074" parentID="1059" level="3" creatorID="0" sortOrder="6" createDate="2014-03-25T11:55:56" updateDate="2014-07-14T01:26:49" nodeName="This is a pen" urlName="this-is-a-pen" path="-1,1055,1059,1074" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="statusUpdate">
        <mediaFolder><![CDATA[1105]]></mediaFolder>
        <relatedMedia><![CDATA[1106]]></relatedMedia>
        <bodyText><![CDATA[<p>This is a pen</p>]]></bodyText>
      </statusUpdate>
      <statusUpdate id="1075" parentID="1059" level="3" creatorID="0" sortOrder="7" createDate="2014-03-25T12:21:36" updateDate="2014-07-14T01:29:02" nodeName="Dodger Stadium, home of the" urlName="dodger-stadium-home-of-the" path="-1,1055,1059,1075" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="statusUpdate">
        <bodyText><![CDATA[<p>Dodger Stadium, home of the Los Angeles Dodgers, is the most expensive Major League Baseball ground in which to propose marriage.</p>]]></bodyText>
      </statusUpdate>
      <statusUpdate id="1108" key="9b8b6305-facd-4402-bba4-f33224fca61c" parentID="1059" level="3" creatorID="0" sortOrder="8" createDate="2016-07-08T10:56:51" updateDate="2016-07-08T10:56:51" nodeName="blah blah blah" urlName="blah-blah-blah" path="-1,1055,1059,1108" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="statusUpdate">
        <bodyText><![CDATA[blah blah blah]]></bodyText>
      </statusUpdate>
      <statusUpdate id="1112" key="352083e4-0a08-48b6-b5c0-ac9eb73e44a4" parentID="1059" level="3" creatorID="0" sortOrder="9" createDate="2016-07-08T15:33:38" updateDate="2016-07-08T15:33:38" nodeName="dbstrbh" urlName="dbstrbh" path="-1,1055,1059,1112" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="statusUpdate">
        <relatedMedia><![CDATA[1110,1111]]></relatedMedia>
        <bodyText><![CDATA[dbstrbh]]></bodyText>
      </statusUpdate>
      <statusUpdate id="1115" key="8ba14e44-e015-4fa0-b7c9-488b913da76d" parentID="1059" level="3" creatorID="0" sortOrder="10" createDate="2016-07-08T15:35:37" updateDate="2016-07-08T15:35:37" nodeName="yulkf" urlName="yulkf" path="-1,1055,1059,1115" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="statusUpdate">
        <relatedMedia><![CDATA[1114]]></relatedMedia>
        <bodyText><![CDATA[yulkf]]></bodyText>
      </statusUpdate>
      <statusUpdate id="1118" key="68ee9a59-547c-4db6-b6d6-0f7711de927d" parentID="1059" level="3" creatorID="0" sortOrder="11" createDate="2016-07-11T09:56:23" updateDate="2016-07-11T09:56:23" nodeName="sefsfesefseffse" urlName="sefsfesefseffse" path="-1,1055,1059,1118" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="statusUpdate">
        <bodyText><![CDATA[sefsfesefseffse]]></bodyText>
        <memberId>1117</memberId>
      </statusUpdate>
    </stream>
    <textPage id="1063" key="cba75f71-c6c5-4f1e-a561-a812ec22bd23" parentID="1055" level="2" creatorID="0" sortOrder="1" createDate="2014-03-23T15:48:23" updateDate="2016-07-07T13:35:02" nodeName="About" urlName="about" path="-1,1055,1063" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="1053" nodeTypeAlias="textPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p>Bacon ipsum dolor sit amet meatloaf flank jowl porchetta spare ribs corned beef rump boudin cow turducken salami bacon. Bresaola meatball swine kielbasa, short ribs beef brisket landjaeger tri-tip pork belly boudin capicola. Ham hock chuck rump shoulder prosciutto. Landjaeger shankle shoulder strip steak prosciutto frankfurter salami ribeye filet mignon pancetta drumstick t-bone ball tip biltong. Strip steak jerky pork belly beef ribs drumstick, pancetta shoulder short ribs sirloin.</p>
<p>Bacon meatloaf short ribs tri-tip, meatball flank biltong venison tongue andouille sirloin drumstick tenderloin ham hock beef ribs. Chuck tri-tip porchetta tongue frankfurter t-bone. Short ribs venison chuck frankfurter pig, beef ribs chicken cow prosciutto shankle capicola kielbasa shoulder. Ball tip frankfurter ground round, boudin tenderloin doner ribeye beef ribs jerky drumstick porchetta salami swine. Hamburger salami pastrami, venison turducken brisket chuck jerky cow pork belly. Ground round pork tail spare ribs sausage filet mignon kevin jowl.</p>
<p>Ground round shoulder meatloaf turkey filet mignon hamburger beef ribs. Spare ribs cow prosciutto drumstick, kevin ground round capicola pork belly t-bone. Salami corned beef shank beef ribs. Jerky pig tri-tip kevin strip steak beef ribs. Beef jerky corned beef brisket, swine rump porchetta flank fatback turkey. Salami bacon biltong beef kielbasa shoulder.</p>
<p> </p>
<?UMBRACO_MACRO macroAlias="ContactForm" />]]></bodyText>
    </textPage>
    <textPage id="1065" parentID="1055" level="2" creatorID="0" sortOrder="2" createDate="2014-03-23T16:04:23" updateDate="2014-03-23T16:05:13" nodeName="Register" urlName="register" path="-1,1055,1065" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="1066" nodeTypeAlias="textPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <bodyText><![CDATA[<p>Please register for the Intranet by providing information below:</p>]]></bodyText>
    </textPage>
    <textPage id="1067" parentID="1055" level="2" creatorID="0" sortOrder="3" createDate="2014-03-23T16:07:28" updateDate="2014-03-23T16:10:02" nodeName="Login" urlName="login" path="-1,1055,1067" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="1068" nodeTypeAlias="textPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <bodyText><![CDATA[<p>Please login in order that you can create Status updates:</p>]]></bodyText>
    </textPage>
    <textPage id="1076" parentID="1055" level="2" creatorID="0" sortOrder="4" createDate="2014-03-25T15:09:50" updateDate="2014-03-25T15:23:48" nodeName="Access Denied" urlName="access-denied" path="-1,1055,1076" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="1053" nodeTypeAlias="textPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <bodyText><![CDATA[<p>Access Denied</p>]]></bodyText>
    </textPage>
    <textPage id="1093" parentID="1055" level="2" creatorID="0" sortOrder="5" createDate="2014-04-02T17:29:13" updateDate="2014-04-02T17:32:42" nodeName="Search" urlName="search" path="-1,1055,1093" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="1092" nodeTypeAlias="textPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <bodyText><![CDATA[<p>Here are some search results.</p>]]></bodyText>
    </textPage>
  </homePage>
</root>