@using Umbraco.Course.Models
@inherits UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
}
<div class="bodyText">
    @Html.Raw((Model.Content.GetPropertyValue<string>("BodyText")))
</div>

<!-- Render Registration form here -->
@{Html.RenderPartial(
      "~/Views/Partials/RegisterPartial.cshtml", 
      new Umbraco.Course.Models.RegisterModel()
      );}