@using Umbraco.Course.Models
@inherits UmbracoViewPage<StreamModel>
@{
    Layout = "Layout.cshtml";
}
<div class="jumbotron" id="statusForm">
    @{ Html.RenderPartial("~/Views/Partials/StatusUpdatePartial.cshtml", new StatusUpdateModel()); }
</div>

<div>
    <!-- This would be a great place to put the ListStatus Updates Macro -->
	@{ Html.RenderPartial("~/Views/Partials/ListStatusUpdates.cshtml", Model); }
</div>